*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100vh;
}

.slider{
    max-height: 350px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.album{
    width: 700px;
    background-color: orange;
}

.pic img{
    height: 350px;
}

.thumbnails{
    width: 100px;  
}

.thumb{
    height: calc(350px / 5);
  
}

img{
    width: 100%;
    object-fit:cover; 
}

h2,p{
    color: white;
    position: absolute;
    left: 20px;
    bottom: 50px;
}
p{  
    bottom: 50px;  
}

h2{
    bottom: 100px;
}



.invisible{
    display: none;   
}

.active{
    display: block;
    border: 2px solid yellow;

}

.arrow-top,
.arrow-bottom{
    color: white;
    position: absolute;
    left: 50%;
    font-size: 30px;
    width: 40px;
    height: 40px;
    padding: 0 5px;   
}

.arrow-top{
    top: 0%;    
}
.arrow-bottom{
    bottom: 0%;
}