<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>carousel modified</title>
</head>
<body>
    <div class="container" id="app">
        <div class="slider">
            <!-- slideshow -->
            <div class="album">


                 <!-- freccia in alto -->
                 <div class="arrow-top" @click="arrowTop">
                    <i class="fa-solid fa-arrow-up"></i>
                </div>


                <!-- img carousel -->
                <div class="pic">
                    <img :src="movies.image[activeElement]" alt="">
                    <!-- title -->
                    <h2> {{movies.title[activeElement]}}</h2>
                    <!-- text -->
                    <p> {{movies.text[activeElement]}}</p>
                </div>


                <!-- freccia in basso -->
                <div class="arrow-bottom" @click="arrowDown">
                    <i class="fa-solid fa-arrow-down"></i>
                </div>
            </div>

            <!-- thumbnails -->
            <div class="thumbnails">
                <!-- il for che mi prende l'array delle img in movies e con il se activeElement e uguale all'indice dell'immagine allora la metto in active -->
                <img v-for="(img, index) in movies.image" :src="img" class="thumb" :class="activeElement === index ? 'active' : '' " alt="">
                <h2 class="invisible" v-for="(bigTitle, index) in movies.title" :class="activeElement === index ? 'active' : '' "></h2>
                <p class="invisible" v-for="(content, index) in movies.text" :class="activeElement === index ? 'active' : '' "></p>
            </div>
        </div>
    </div>

    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- js -->
    <script src="js/main.js"></script>
</body>
</html>